@import '~@fluentui/react/dist/sass/References.scss';

.formValidation {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  .lbl{
    font-weight: bold;
    // margin-top: 10px;
    // display: block;
    margin: 5px 5px 5px 5px;
    color:var(--bodyText);
    font-size: 15px;
    color:"[theme:bodyText, default: #323130]";
  }
  .btn{
    margin-left: 10px;
    margin-top: 10px;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}